<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<meta name="google-site-verification" content="dXSkq2PIj-NDQnfLuXRaAijlumcyM-KgRg0lbmtLHl0" />
<meta name="title" content="Ingab Kang's Personal Homepage" />

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
